snippet choose "n choose k"
	\\binom{$1}{$2}$3

snippet eps epsilon
	\\epsilon

snippet kstar Kleene Star
	\\kleene 

# Itemize
snippet item itemize environment
	\\begin{itemize}
		\\item ${0:${VISUAL}}
	\\end{itemize}
# vim:ft=snippets
